extends layout

block content
  h1= title
  p Welcome to #{title}
  p from: #{inputlanguage}
  p to: #{outputlanguage}
  p results: #{translation}

.row
  .col-sm-10.col-sm-offset-1
    .jumbotron.homewelcome
      h1 #{title}
.row
  .col-sm-3.col-sm-offset-1
    input.word-input.form-control(type='text', placeholder='Input Word')
  .col-sm-1
    div From:
  .col-sm-2
    .dropdown-form
      select.form-control
        for language in languages
          option: a(href='#')= language
  .col-sm-1
    div To:
  .col-sm-2
    .dropdown-form
      select.form-control
        for language in languages
          option: a(href='#')= language
.row.btn-row
  .col-sm-4.col-sm-offset-8.pull-right
    button.btn-lg Submit Button

block scripts

script.
  $('.dropdown-form').dropdown()